*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.separador{
}
.none{
    display: none;
}
.center-items{
    justify-content: center;
    align-items: center;
}
iframe{
    width:100%;
}

@media only screen and (min-width: 993px){
    nav a.button-collapse {
        display: block;
    }
    }

/* @media only screen and (max-width: 600px) {
    .inline-itmes section{
      background-color: wheat;
      display:block;
    } 
} */

/*Navbar*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: greenyellow;
    height: 75px;
    margin-bottom: 30px;
}

.navbar-logo{
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-items{
    display:flex;
    list-style: none;
    margin-right: 30px;
}

.navbar-items li{
    border-radius: 3px;
    margin: 0 5px;
}
.navbar-items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

.navbar-items li:hover{
    background-color: white;
    transition: .4s;
}

.navbar-icon{
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

ul.show{
    top: 65px
}

@media only screen and (max-width: 952px){
    .navbar-items li a{
        font-size: 16px;
    }
}
@media only screen and (max-width: 858px){
    .navbar{
        height: 65px;
    }
    .navbar-icon{
        display: inline-flex;
    }

    .navbar-items{
        position: fixed;
        width: 100vw;
        height: calc(100% - 65px);
        background-color: grey;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        overflow: hidden;
    }
    .navbar-items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .navbar-items li:hover{
        background: none;
    }

    .navbar-items li a{
        font-size: 20px;
        color: white;
    }
    .navbar-items li a:hover{
        color:greenyellow;
    }

    .navbar-logo{
        font-size: 25px;
        padding-left: 35px;
    }
}

@media only screen and (max-width: 858px) and (orientation:landscape){
    .navbar-items li{
        margin: 5px 0 0 0;
    }
    .navbar-items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}

/*Registrar*/
.form-wrap{
    width: 1050px;
    height: 530px;
    margin: 50px auto;
    display:flex;

    background-color: rgb(149, 201, 97);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px, 0px, 20px rgb(0, 0, 0, 0.2);
}

.form-info::before{
    content: '';
    width:100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #4091ec;
    opacity: 0.9;

}
.form-info{
    width:38%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../images/eolic.jpg);
    background-size: cover;
    background-position: center center;
}

.form-title{
    position: relative;
    z-index: 2;
    color: white;

    margin-bottom: 20px;

    font-size: 60px;
    display: block;
    text-align: center;
}
.form-text{
    position: relative;
    z-index: 2;
    color: white;

    font-size: 20px;
    display: flex;
    text-align: center;
}

.form{
    width:62%;
    display: flex;
    flex-direction: column;
    padding: 90px 40px;
}

.form-input-title{
    font-size: 30px;

}
.form-input-definition{
    margin-top:10px;
}
.form-input div input{
    margin-bottom: 30px!important;
}

:focus{
    outline: none;
}

.upload-button{
    width:180px;
    background: blue;
    padding: 10px;
    border:none;
    border-radius: 25px;

    align-self: flex-end;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-family: 16px;
    font-weight: 600;
    cursor: pointer;
}
.upload-button:hover{
    background: #3371B6;
}

/*Iniciar Sesión*/
.login-wrap{
    width: 440px;
    height: 530px;
    margin: 50px auto;
    display:flex;
    flex-direction: column;

    background-color: rgb(149, 201, 97);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px, 0px, 20px rgb(0, 0, 0, 0.2);
}

.login-info::before{
    content: '';
    width:100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: #4091ec;
    opacity: 0.9;

}
.login-info{
    height:30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../images/eolic.jpg);
    background-size: cover;
    background-position: center center;
}

.login-title{
    position: relative;
    z-index: 2;
    color: white;

    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 50px;
    display: block;
    text-align: center;
}
.login-text{
    position: relative;
    z-index: 2;
    color: white;

    font-size: 20px;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}
.login-icon{
    position: relative;
    z-index: 2;
    color: white;

    font-size: 20px;
    display: flex;
    text-align: center;
}

.login{
    height:70%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.login-input-title{
    font-size: 30px;

}
.login-input-definition{
    margin-top:10px;
}
.login-input div input{
    margin-bottom: 30px!important;
}

:focus{
    outline: none;
}

.upload-button{
    width:180px;
    background: blue;
    padding: 10px;
    border:none;
    border-radius: 25px;

    align-self: flex-end;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-family: 16px;
    font-weight: 600;
    cursor: pointer;
}
.upload-button:hover{
    background: #3371B6;
}
/*Pagina Inicial - Gráficos*/
.gráficos{
}

/*Pagina Inicial - Containers de Valores*/
.ValContainer{
    background-color: rgb(27, 230, 44);
    border-radius: 15px;
    padding: 5px;
    height: fit-content;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 300px;
}
.ValContainerIcon img{
    max-width: 100px;
    float:left;
    padding: 10px;
}

.ValTitle{
    font-size: 160%;
    padding-top: 5px;
}
.ValNow{
    font-size: 130%;
    padding-bottom: 6px;
}
.ValInfo{
    background-color: white;
    border-radius: 15px;
}
.ValBtn{
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #4CAF50;
    margin-bottom: 5px;
}

.ValBtn:hover {
    background-color: #4CAF50;
    color: white;
}

/*Pagina Valores Particulares*/
.changing-background{
    /*background-color: rgb(0, 247, 21);*/
}

.donut-chart-title{
    color: black;
    z-index: 2;
    font-size: 2rem;

    position: absolute;
    top: 100px;
    left: 18%;
}

/*Pagina Valores Particulares - Tabla Situacion*/
.Situation-Now{
    border:1px solid black;
    width: fit-content;
    margin-bottom: 10px;
    height: fit-content;
}
.Situation-Now-Title{
    font-size: 200%;
    padding-left: 10px;
    padding-top: 10px;
}
.Situation-Now-Line{
    content: '';
    display: block;
    width: 20rem;
    height: 1px;
    background-color: black;
    margin: 10px 10px 5px;
}
.Situation-Now-Text{
    font-size: 150%;
    width: 20rem;
    padding: 10px;
}
/* .Situation-Now-Text::selection{
    color:greenyellow;
    background-color: red;
} */

/*Pagina Valores Particulares - Tabla Index*/

table{
    table-layout: fixed;
    border-collapse: collapse;
    color: black;
    
}
table, tr, td, th{ 
    border: 1px solid black;
}
td, th{
    padding: 10px;
    text-align: left;
}
