@font-face {
    font-family: 'ausion';
    src: url('AusionPersonalUse-Extra.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
/* *{
    font-family: "green_cornerregular";
    font-size: 40px;
} */
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

:root {
    --green: green;
    --white: #ffffff;
    --dark-gray: rgb(173, 168, 168);
    --light-gray: rgb(207, 202, 202);
    --lighter-gray: rgb(248, 248, 248);
    --light-green: rgb(80, 242, 73);
    --medium-green: rgb(77, 219, 113);
    --bluish-green: rgb(73, 209, 146);
}

.separador{
}
.none{
    display: none;
}

iframe{
    width:100%;
}
.grey-background{
    background-color: var(--dark-gray);
}


@media only screen and (min-width: 993px){
    nav a.button-collapse {
        display: block;
    }
}

/* @media only screen and (max-width: 600px) {
    .inline-itmes section{
      background-color: wheat;
      display:block;
    } 
} */

/*Navbar*/

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bluish-green);

    height: 75px;
    margin-bottom: 30px;
}

.navbar-logo{
    font-size: calc(1em + 1vw);
    margin: .9rem;
}
.navbar-logo-title{
    margin-top:100px;
    color:white;
    font-family: "ausion";
}
.navbar-logo-icon{
    width: 30px;
    margin-top: 10px;
    margin-bottom: -3px;
    padding-right: 2px;
}

.navbar-items{
    display:flex;
    list-style: none;
    margin-right: 30px;
}

.navbar-items li{
    border-radius: 3px;
    margin: 0 5px;
}
.navbar-items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color:rgb(236, 236, 236);

}

.navbar-items li:hover{
    background-color: black;
    transition: .4s;
}
.navbar-items li a:hover{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    color:white;
}

.navbar-icon{
    margin-top: 35px;
    margin-right: 30px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

ul.show{
    top: 65px;
    left: .4px;
}

@media only screen and (max-width: 952px){
    .navbar-items li a{
        font-size: 16px;
    }
}
@media only screen and (max-width: 858px){
    .navbar{
        height: 65px;
    }
    .navbar-icon{
        display: inline-flex;
    }

    .navbar-items{
        position: fixed;
        z-index: 4;
        width: 100vw;
        height: calc(100% - 65px);
        background-color: var(--light-gray);
        top: 65px;
        left: -100vw;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        overflow: hidden;
    }
    .navbar-items li{
        margin: 30px 0 0 0;
        line-height: 30px;
    }
    .navbar-items li:hover{
        background: none;
    }

    .navbar-items li a{
        font-size: 20px;
        color: black;
    }
    .navbar-items li a:hover{
        font-size: 20px;
        color:white;
    }

    .navbar-logo{
        font-size: 30px;
        padding-left: 30px;
    }
}
@media only screen and (max-width: 330px){

.navbar-logo-icon{
    display: none;
}
}

/* .config-display{
    padding: 10px 20px 10px;
    position: absolute;
    display:none;
    background-color: grey;
}
.config-display:hover{
    background-color: grey;
}
.config-hover:hover > ul{
    display:block;
    background-color: grey;

} */
/* @media only screen and (max-width: 858px) and (orientation:landscape){
    .navbar-items li{
        margin: 5px 0 0 0;
    }
    .navbar-items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
} */

/*Registrar*/
.form-wrap{
    width: 1050px;
    height: 530px;
    margin: 5px auto;
    display:flex;

    background-color: rgb(242, 243, 242);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px, 0px, 20px rgb(0, 0, 0, 0.2);
}

.form-info::before{
    content: '';
    width:100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--bluish-green);
    opacity: 0.9;

}
.form-info{
    width:38%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../images/eolic.jpg);
    background-size: cover;
    background-position: center center;
}

.form-title{
    position: relative;
    z-index: 2;
    color: white;

    margin-bottom: 20px;

    font-size: 60px;
    display: block;
    text-align: center;
}
.form-text{
    position: relative;
    z-index: 2;
    color: white;

    padding-bottom: 40px;

    font-size: 20px;
    display: flex;
    text-align: center;
}
.form-icon{
    position: relative;
    z-index: 2;
    color: white;

    width: 130px;
    display: flex;
    text-align: center;
}

.form{
    width:62%;
    display: flex;
    flex-direction: column;
    padding: 90px 40px;
}

.form-input-title{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}
.form-input-definition{
    font-weight: 400;
    font-size: 18px;
    margin-top:10px;
}
.form-input-definition i{
    margin-right: 7px;
}
.form-input div input{
    font-size: 15px;

    background-color: rgb(230, 235, 225);
    margin-bottom: 30px;
    padding: 8px 0px 5px;

    border-style: none;
    border-bottom: 2px solid black;
    width: 100%;
}

:focus{
    outline: none;
}

.form-messageError{
    display:none;
    font-size: 15px;
    color:red;
    padding: 0px 0px 4px;
    font-weight: 400;
}


.upload-button{
    width:180px;
    background: var(--bluish-green);
    padding: 10px;
    border:none;
    border-radius: 25px;

    align-self: flex-end;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-family: 16px;
    font-weight: 600;
    cursor: pointer;
}
.upload-button:hover{
    background: rgb(50, 167, 112);
}

/*Registrar - Responsive*/

@media only screen and (max-width: 1058px){
    .form-wrap{
        width: 70vw;
        height: 530px;
        margin: 5px auto;
        display:flex;
        flex-direction: column;

        background-color: rgb(230, 235, 225);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px, 0px, 20px rgb(0, 0, 0, 0.2);
    }
    
    .form-info::before{
        content: '';
        width:100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;

        background-color: var(--bluish-green);
        opacity: 0.9;
    
    }
    .form-info{
        width: 100%;
        height:35%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-image: url(../images/eolic.jpg);
        background-size: cover;
        background-position: center center;
    }
    
    .form-title{
        position: relative;
        z-index: 2;
        color: white;

        margin-bottom: 10px;

        font-size: calc(2em + 0.5vw);
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    .form-text{
        position: relative;
        z-index: 2;
        color: white;

        font-size: calc(1em + 0.5vw);
        display: flex;
        text-align: center;
    }
    .form-icon{
        margin-top: 25px;
        position: relative;
        z-index: 2;
        color: white;
    
        width: 70px;
        display: flex;
        text-align: center;
    }
    
    .form{
        height:65%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 40px;
    }
    
    .form-input-title{
        display: none;
    
    }
    .form-input-definition{
        margin-top:15px;
    }
    .form-input div input{
        background-color: rgb(230, 235, 225);
        margin-bottom: 20px;
        padding: 8px 0px 6px 90px;

        border-style: none;
        border-bottom: 2px solid black;
        width: 70%;  
    }
}

@media only screen and (max-width: 745px){
    .form{
        height:65%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 40px;
    }
    .form-input div input{
        background-color: rgb(230, 235, 225);
        margin-bottom: 20px;
        padding: 8px 0px 6px;

        border-style: none;
        border-bottom: 2px solid black;
        width: 100%;  
    }
}

@media only screen and (max-width: 420px){
.upload-button{
    width:100px;
    background: var(--bluish-green);
    padding: 10px;
    border:none;
    border-radius: 25px;

    margin:auto;
    display: flex;
    justify-content: center;
    text-align: center;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
}

/*Borrar cuenta*/
.login-wrap{
    width: 440px;
    height: 530px;
    margin: 5px auto;
    display:flex;
    flex-direction: column;

    background-color: rgb(230, 235, 225);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px, 0px, 20px rgb(0, 0, 0, 0.2);
}

.login-info::before{
    content: '';
    width:100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--bluish-green);
    opacity: 0.9;

}
.login-info{
    height:35%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url(../images/eolic.jpg);
    background-size: cover;
    background-position: center center;
}

.login-title{
    position: relative;
    z-index: 2;
    color: white;

    margin-top: 8px;
    margin-bottom: 5px;

    font-size: calc(2em + 0.5vw);
    display: block;
    text-align: center;
    
}
.login-text{
    position: relative;
    z-index: 2;
    color: white;

    font-size: 20px;
    display: flex;
    text-align: center;
    margin-bottom: 10px;
}
.login-icon{
    position: relative;
    z-index: 2;
    color: white;

    width: 70px;
    display: flex;
    text-align: center;
}

.login{
    height:65%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.login-input-title{
    font-size: 30px;

}
.login-input-definition{
    margin-top:10px;
    font-size: 18px;

}
.login-input-definition-first{
    margin-top:30px;    
    font-size: 18px;

}
.login-input-definition-first i{
    margin-right: 7px;
}
.login-input-definition i{
    margin-right: 7px;
}
.login-input div input{
    background-color: rgb(230, 235, 225);
    margin-bottom: 30px;
    padding: 8px 0px 5px;
    font-size: 15px;

    border-style: none;
    border-bottom: 2px solid black;
    width: 100%;
}

:focus{
    outline: none;
}

.delete-button{
    margin-top: 20px;
    width:180px;
    background: var(--bluish-green);
    padding: 10px;
    border:none;
    border-radius: 25px;

    align-self: flex-end;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-family: 16px;
    font-weight: 600;
    cursor: pointer;
}
.delete-button:hover{
    background: rgb(50, 167, 112);
}

/*Borrar cuenta - responsive*/
@media only screen and (max-width: 700px){
    .login-wrap{
        width: 70vw;
        height: 530px;
        margin: 5px auto;
        display:flex;
        flex-direction: column;
    
        background-color: rgb(230, 235, 225);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px, 0px, 20px rgb(0, 0, 0, 0.2);
    }
    .login-title{
        position: relative;
        z-index: 2;
        color: white;
    
        margin-top: 10px;
        margin-bottom: 10px;
    
        font-size: calc(2em + 0.5vw);
        display: block;
        text-align: center;
    }
    .login-text{
        position: relative;
        z-index: 2;
        color: white;
    
        font-size: calc(1em + 0.5vw);
        display: flex;
        text-align: center;
        margin-bottom: 10px;
    }
    .login-icon{
        position: relative;
        z-index: 2;
        color: white;
    
        font-size: 20px;
        display: flex;
        text-align: center;
    }
}
@media only screen and (max-width: 420px){
    .delete-button{
        width:100px;
        background: var(--bluish-green);
        padding: 10px;
        border:none;
        border-radius: 25px;
        margin-top: 10px;
    
        align-self:flex-end;
    
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:white;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }
}

/*Cuenta creada*/
.creada-background{
    background-color: var(--light-gray);

}
.creada-background-image{
    height: 100vh;
    width: 100%;
    margin-top: -95px;
    position: absolute;
    z-index: -2;
    background-image: url(../images/fondoGreenSense.png);
    background-size: cover;
    background-position: center center;
}
.creada-wrap{
    background-color: rgb(250, 249, 249);
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
    width:500px;
    height: 460px;
    padding: 30px 20px 15px;
    margin:95px auto;
    
    border: 2px solid green;

    display: flex;
    flex-direction: column;
}
.cuenta-creada{
    margin-top: 70px;
    text-align: center;
    font-size: 2.4em;

}
.cuenta-creada-btn-wrap{
    margin-top: 30px;
    margin-left: 5vw;
}
.cuenta-creada-btn{
    font-size: calc(1em + 0.2vw);
    background-color: rgb(250, 249, 249);
    border: none;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #4CAF50;
    padding: 8px;

    margin: auto 110px   
}

.cuenta-creada-btn:hover {
    background-color: #4CAF50;
    color: white;
}
.white-block{
    display:none;
    z-index: 1;
    width: 100vw;
    height: 30px;
    border-radius: 1000px 1000px 0px 0px;
    background: white;
}

@media only screen and (max-width: 540px){
    .creada-wrap{
        background-color: rgb(250, 249, 249);
        box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
        width:80vw;
        height: 50vh;
        padding: 30px 20px 15px;
        margin:95px auto;
        
        border: 2px solid green;
    }
    .cuenta-creada{
        margin-top: 70px;
        text-align: center;
        font-size: calc(1.5em + 0.5vw);
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}

/*Pagina Inicial - Gráficos*/
.graph-background{
    background-color: var(--lighter-gray);
}
.home-graph-margin{
    margin-top:70px
}
.width-graph{
    pointer-events: none;
    width: 55vw!important;
    height: 30vw!important;
}
.g-title{
    font-size: calc(1em + 0.5vw);
    margin-left:10%;
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    width: 250px;
    text-align: center;
}
#energy-title{
    border: 2px solid gold;
}
#air-title{
    display: none;
    border: 2px solid blue;
}
#weight-title{
    display: none;
    border: 2px solid red;
}

@media only screen and (max-width: 590px){
    .width-graph{
        pointer-events: none;
        width: 80vw!important;
        height: 70vw!important;
    }
}
@media only screen and (max-width: 990px) and (min-width: 591px){
    .width-graph{
        pointer-events: none;
        width: 60vw!important;
        height: 40vw!important;
    }
}

/*Pagina Inicial - Iconos*/
.control-icons-wrap{
    background-color: black;
    width:fit-content;
    height: fit-content;
    padding: 1px;
    margin-left:5%;
    margin-top:2%;
}
.control-icons{
    font-size: 20px;
    color:green;
    padding: 10px 20px 10px 20px;
    width: fit-content;
    height: fit-content;

    background-color:var(--lighter-gray);
}
.control-icons i{
    margin: 0 7px;
    cursor: pointer;
    color:black;
    transition-duration: 0.4s;
}

.control-icons i:hover{
    color:green;
}

.flex-graph{
    display:flex;
}
@media only screen and (max-width: 730px){
    .flex-graph{
        display: block;
    }
    .control-icons-wrap{
        background-color: black;
        width:fit-content;
        height: fit-content;
        padding: 1px;
        margin-left:10%;
        margin-top:2%;
    }
}
@media only screen and (max-width: 1069px) and (min-width: 992px){
    .flex-graph{
        display: block;
    }
    .control-icons-wrap{
        background-color: black;
        width:fit-content;
        height: fit-content;
        padding: 1px;
        margin-left:10%;
        margin-top:2%;
    }
}

/*Pagina Inicial - Containers de Valores*/
.ValContainer{
    /* background-color: rgb(27, 230, 44); */
    /* background-color: transparent;

    border-radius: 15px;
    padding: 5px;
    height: fit-content;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 305px;
    display:flex; */
    margin-bottom: 60px;
    margin-top: 30px;
    /* white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    /* background-image: url(../images/ContainerVal.png);
    background-size: cover;
    background-position: center center; */
}
.ValContainerI{
    background-color: transparent;

    border-radius: 15px;
    padding: 5px;
    height: fit-content;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 20px;
    display:flex;
    
}
.ValContainerImg{
    width: 370px;
    position:absolute;
    z-index: -2;
}
@media only screen and (max-width: 350px){
    .ValContainer{
        margin:auto;
        /* background-color: rgb(27, 230, 44); */
        background-color: transparent;
    
        border-radius: 15px;
        padding: 5px;
        height: fit-content;
        margin-bottom: 30px;
        margin-top: 30px;
        width: 170px;
        display:flex;
        border: 2px solid green;
    
        /* white-space:nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
        background-image: none;
        background-size: none;
        background-position: none;
    }

    .ValContainerIcon img{
        width: 15px;
        margin-left:13px;
        margin-right: 15px;
        margin-top:8px;
        display: none;
        
    }
    
    .ValTitle{ 
        padding-top: 15px;
    }
    .ValNow{
        font-size: calc(0.5em + 0.5vw);
        padding-bottom: 4px;
    }
    .ValInfo{
        border-style: 2px solid green;

        margin-left:5px;
        margin-bottom: 8px;
    }
    .ValBtn{
        font-size: 80%;
        background-color: var(--lighter-gray);
        border: none;
        border-radius: 5px;
        color: black;
        text-decoration: none;
        transition-duration: 0.4s;
        cursor: pointer;
        border: 2px solid #4CAF50;
    
    }
}

.ValContainerIcon{
    /* float: left; */
}
.ValContainerIcon img{
    width: 80px;
    margin-left:12px;
    margin-right: 15px;
    margin-top:14px;
    
}

.ValTitle{
    font-size: 140%;
    padding-top: 15px;
    
}
.ValNow{
    font-size: 110%;
    padding-bottom: 4px;
}
.ValInfo{
    font-size: 100%;
    margin-left:19px;
    margin-bottom: 9px;
}
.ValBtn{
    font-size: 80%;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #4CAF50;

}

.ValBtn:hover {
    background-color: #4CAF50;
    color: white;
}

/*Pagina Inicial - config-tab*/
.config-tab-wrap{
    display:none;

    width:100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}
.config-tab{
    background-color: white;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
    width:400px;
    padding: 30px 20px 15px;

    border: 2px solid black;

}

.config-tab-header{
    display:flex;
    justify-content: space-between;
}
.config-tab-line{
    content: '';
    display:block;
    width:100%;
    height: 1px;
    background: black;
    margin: 10px 0px 15px;
}
.config-tab-title{
    font-size: 20px;
    font-weight: 400;
}
.config-tab-close{
    margin-top: -3px;
    font-size: 25px;
    font-weight: 400;
    color: red;
    transition-duration: 0.4s;
    cursor: pointer;
}
.config-tab-close:hover{
    color: rgb(143, 6, 6);
}
@media only screen and (max-width: 320px){
    .config-tab{
        background-color: white;
        box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
        width:80vw;
        padding: 30px 20px 15px;
        margin:auto;
    
        border: 2px solid black;
    
    }
}

.checkbox-green[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid green;
    background-color: green;
}
.config-tab-checkbox label span{
    font-size: 17px!important;
    margin-bottom: 15px;
}
@media only screen and (max-width: 311px){
    .config-tab-checkbox label span{
        font-size: 17px!important;
        margin-bottom: 30px;
    }
}
/*Cargando...*/
.carga-tab-wrap{
    display:none;

    width:100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}
.carga-tab{
    background-color: white;
    box-shadow: 0px 0px 15px rgb(0, 0, 0, 0.5);
    width:300px;
    height: 200px;
    padding: 30px 20px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carga-tab-img img{
    width:60px;
}
.carga-tab-title{
    font-size: 20px;
    font-weight: 400;
}
.carga-tab-title{

}


/*Pagina Valores Particulares*/
.particular-background{
    background-color: rgb(230, 230, 230);
}
.particular-background-image{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -2;
    opacity: 0.2;
    background-image: url(../images/fondoGreenSense1.png);
    background-size: cover;
    background-position: center center;
}
#particular-graph-pos{
    margin-top:90px;
}

/*Pagina Valores Particulares - Tabla Situacion*/
.Situation-Now{
    border:1px solid black;
    width: fit-content;
    margin-bottom: 10px;
    height: fit-content;
    background-color: rgb(230, 230, 230);
}
.Situation-Now-Title{
    font-size: 200%;
    padding-left: 10px;
    padding-top: 10px;
}
.Situation-Now-Line{
    content: '';
    display: block;
    width: 20rem;
    height: 1px;
    background-color: black;
    margin: 10px 10px 5px;
}
.Situation-Now-Text{
    font-size: 150%;
    width: 20rem;
    padding: 10px;
}
@media only screen and (max-width: 350px){
    .Situation-Now{
        width: 80vw;
    }
    .Situation-Now-Line{
        content: '';
        display: block;
        width: 70vw;
        height: 1px;
        background-color: black;
        margin: 10px 10px 5px;    
    }
    .Situation-Now-Text{
        color:black;
        font-size: 150%;
        width: 70vw;
        padding: 10px;
    }
}

/* .Situation-Now-Text::selection{
    color:greenyellow;
    background-color: red;
} */

/*Pagina Valores Particulares - Tabla Index*/

table{
    table-layout: fixed;
    border-collapse: collapse;
    color: black;
    background-color: rgb(230, 230, 230);
    
}
table, tr, td, th{ 
    border: 1px solid black;
}
td, th{
    padding: 10px;
    text-align: left;
}


/* Home */
.home-back{
    background-color: var(--bluish-green);
    /* background-color: var(--lighter-gray); */

}
.home-logo img{
    
    width: 650px;
    position: absolute;
    z-index: -1;
    /* margin-left:450px; */
    left: 0;
    top:0;
    opacity: 0.3;
    margin-top: 0.5vh;
   
}
.home-block{
    width: 98vw;
    height: 100vh;

    position: absolute;
    z-index: -2;
    top:0;

    background-color: white;
    border-radius: 0px 0px 1000px 0px;

}
.home-content{
    color:black;
    margin-top: 26vh;
    margin-left: 26vw;


}
.home-title{
    font-family: "ausion";
    font-size: calc(4em + 4vw);
}
.home-slogan{
    font-family: "ausion";
    font-size: calc(1em + 1vw);
    margin-bottom: 15px;
    margin-left:10px;
}
.home-sign{
    font-size: calc(1em + 0.2vw);
    background-color: rgb(250, 249, 249);
    border: none;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #4CAF50;
    padding: 8px;
    margin-left:10px;


}
.home-logo-r img{
    display: none;
}
.home-sign:hover {
    background-color: #4CAF50;
    color: white;
}

@media only screen and (max-width: 750px){
    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15vh auto;
    
    }
    .home-logo img{
        display: none;
        
    }
    .home-logo-r img{
        display: block;
        width: 50vw;
        position: absolute;
        opacity: 0.1;
        z-index: -2;
        left:25%;
        top:10%;
    }

    .home-block{
        width: 100vw;
        height: 95vh;
    
        position: absolute;
        z-index: -2;
        top:0;
    
        background-color: white;
        border-radius: 0px 0px 250px 250px;
    
    }

    .home-title{
        font-family: "ausion";
        font-size: calc(3em + 2vw);
    }
    .home-slogan{
        font-family: "ausion";
        font-size: calc(1em + 1vw);
        margin-bottom: 15px;
        margin-left:10px;
        text-align: center;
    }
    .home-sign{
        font-size: calc(1em + 0.2vw);
        background-color: rgb(250, 249, 249);
        border: none;
        border-radius: 10px;
        color: black;
        text-decoration: none;
        transition-duration: 0.4s;
        cursor: pointer;
        border: 2px solid #4CAF50;
        padding: 8px;
        margin-left:10px;
    
    
    }
}