<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../images/LogoInvG.png">
    <title>Green Sense</title>

    <!--Archivos CSS (styles.css // materialize.css)-->
    
    <link rel="stylesheet" href="../css/materialize.css">

    <link rel="stylesheet" href="../css/styles.css">

    <!--Archivos JS (materialize.js // Jquery.js)-->
    <script src="../js/GreenSense.js" type="text/javascript"></script>
    <script src="../js/materialize.js" type="text/javascript"></script>  
    <script src="../js/jquery-3.6.0.min.js" type="text/javascript"></script> 

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/83ab69d178.js" crossorigin="anonymous"></script>

    <title>Registrarse</title>

    <!-- <script src="../js/GreenSense.js" type="text/javascript"></script> -->

</head>
<body class="grey-background">
    <nav class="navbar">
        <div class="navbar-logo"><a href="index.html"><img class="navbar-logo-icon" src="../images/LogoInvW.png"><span class="navbar-logo-title">GreenSense</span></a></div>
  
        <ul class="navbar-items" id="navbar-items-responsive">
          <li><a href="index.html">Home</a></li>
          <li><a href="borrar.html">Borrar cuenta</a></li>
        </ul>
  
        <div class="navbar-icon" onclick="showmenu()"><i class="fa-sharp fa-solid fa-bars"></i></div>
    </nav>


    <div class="form-wrap">
    
    <section class="form-info">

        <!-- <div class="form-icon"><i style="z-index: 2;" class="fa-solid fa-user"></i></div> -->
        <img class="form-icon" src="../images/LogoInvW.png">
        <!-- <i style="z-index: 2;" class="fa-solid fa-user"></i> -->

        <div class="form-title">GreenSense</div>

        <div class="form-text">Registrate para recibir mails</div>

    </section>
    
     <!--
    </div>
    <% } else { %>
        <% if (message.length > 0) { %>
        <div class="alert alert-error">
        <%= message %>
    </div>
    <%= } %>
    -->

    <form class="form" action="http://localhost:3000" method="POST">

        <div class="form-input-title">Sign up</div>
        <div class="form-input">

        <div>
            <div class="form-input-definition"><i class="fa-solid fa-user"></i>Usuario</div>
            <input class="form-input-text" id="u" name="usuario" type="text">
        </div>

        <div>
            <div class="form-input-definition"><i class="fa-sharp fa-solid fa-lock"></i>Contraseña</div>
            <input id="c" name="contra" type="password">
        </div>

        <div>
            <div class="form-input-definition"><i class="fa-sharp fa-solid fa-envelope"></i>Mail</div>
            <input id="m" name="mail" type="email">
        </div>

        <div class="form-messageError" id="errMessage">El usuario ya está en uso</div>


        <input class="upload-button" id="S" type="submit" value="Subir">
        <!-- </div> -->
    </form> 

    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../js/formR.js" type="text/javascript"></script>
</body>
</html>